.btn-wide, .btn-wide:link, .btn-wide:visited {
    font-size: 1.6rem;
    padding: 0.5rem 3em;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    font-weight: 400;
    border: 1px solid #2F4858;
    border-radius: 5%;
    cursor: pointer;
    color: #fff;
}

.btn-wide:hover {
    box-shadow: inset 0 0 0 30px #fff;
    color: #de7519;
    border-radius: 5%;
}

.btn-wide:active,
.btn-regular-disabled:active,
.btn-orange:active,
.btn-regular:active {
    transform: translateY(-3px);
}

.btn-orange, .btn-orange:link, btn-orange:visited {
    font-size: 1.6rem;
    padding: 0.5rem 3em;
    margin-right: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    font-weight: 400;
    border-radius: 5%;
    cursor: pointer;
    color: #fff;
    background-color: #E67E22;
    border: 1px solid #2F4858;
}

.btn-disabled, .btn-disabled:link, btn-disabled:visited {
    font-size: 1.6rem;
    padding: 0.5rem 3em;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    font-weight: 400;
    border-radius: 5%;
    cursor: pointer;
    color: #fff;
    background-color: #999;
    border: 1px solid #2F4858;
}

.btn-orange:hover {
    box-shadow: inset 0 0 0 30px #fff;
    color: #de7519;
    border-radius: 5%;
}

.btn-regular, .btn-regular:link, .btn-regular:visited {
    font-size: 1.6rem;
    padding: 1.4rem 3rem;
    margin-right: 0.2rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
    font-weight: 400;
    backface-visibility: hidden;
    border-radius: 5%;
    cursor: pointer;
    background-color: #E67E22;
    color: #fff;
}

.btn-regular:hover {
    box-shadow: inset 0 0 0 30px #fff;
    color: #de7519;
    border-radius: 5%;
}

.btn-regular,
.btn-regular-disabled {
    grid-row: 1 / 3;
    justify-self: end;
    align-self: center;
}

.btn-regular-disabled, .btn-regular-disabled:link, .btn-regular-disabled:visited {
    font-size: 1.6rem;
    padding: 1.4rem 3rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
    font-weight: 400;
    backface-visibility: hidden;
    border-radius: 5%;
    cursor: pointer;
    color: #fff;
    background-color: #999;
    border: 1px solid #f7f7f7;
}

.btn-admin, .btn-admin:link, .btn-admin:visited {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
    backface-visibility: hidden;
    border-radius: 5%;
    cursor: pointer;
    color: #fff;
    background-color: #f00;
    border: 1px solid #f7f7f7;
}

.btn-admin:hover {
    box-shadow: inset 0 0 0 20px #fff;
    color: #f00;
    border-radius: 5%;
}