.wrapper {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.wrapper::after {
    content: '';
    display: block;
    height: 100px;
}

.wrapper_main {
    min-height: 100%;
    height: 100%;
}