.card__container {
    padding: 1% 8%;
    flex: 1;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
    overflow-y: auto;
}

.sort__section {
    text-align: center;
    padding: 1% 0% 0% 0%;
    margin: 0 8% 0 8%;
    border: 1px solid #2F4858;
    background-color: #2f48587e;
}

.loading {
    height: 100vh;
}

.sort__label {
    font-size: 1.6rem;
    padding-right: 2%;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}