.card-container {
    padding: 1% 8%;
    flex: 1;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
    overflow-y: auto;
}

.loading {
    height: 100vh;
}