.register-form {
    position: relative;
    margin: 2% auto;
    max-width: 55rem;
    background-color: rgba(47, 72, 88, 0.85);
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
    opacity: 0.9;
}

.heading-secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #E67E22;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
}

.ma-bt-lg {
    margin-bottom: 3.5rem !important;
}
