@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
::selection {
  background-color: #e67e22;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70%;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #777;
  height: 100vh;
  width: 100%;
  display: flex;
  text-rendering: optimizeLegibility;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url(/background-main.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex: 1;
  position: relative;
}
